bin/data-engineer-v0.5.0.tar.gz
build-R-python-spark/
build-R-spark/
shared/abc.jar
shared/xpto.jar
shared/xyz.jar
DATA/derby.log
DATA/metastore_db/
maven/bin/[a-z]*
maven/pkg/
maven/src/file
maven/src/github.com/
maven/src/golang.org/
maven/src/gopkg.in/
maven/teste-1.txt

